<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Navarridas Juan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="cuerpo">
    <header class="header-nav">
        <div class="perfil">
            <img class="foto-perfil"src="/img/foto.jpg">
            <h2>NAVARIDAS JUAN MARTIN</h2>
            <h3 class="carrera">ABOGADO</h3>
        </div>
    </header>

    <main class="style-form">

        <div class="formulario">
            <h3>Ingrese sus datos aquí:</h3>
        </div>
            <form class="login" action="">
                <div class="login-input">
                    <input type="text" name="institucion" placeholder="Institución" required>
                </div>
                <div class="login-input">
                    <input type="text" name="pais" placeholder="País" required>
                </div>
                <div class="login-input">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="login-input">
                    <input type="text" name="apellido" placeholder="Apellido" required>
                </div>
                <div class="login-input">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="login-input">
                    <input type="number" name="telefono" placeholder="Teléfono" required>
                </div>
                <div class="login-input">
                    <input type="text" name="text" placeholder="Motivo de contacto" required>
                </div>
            </form>
        </div>
        <div class="main-botones">
            <a href="/"><button type="submit" class="button-contacto">ENVIAR CONTACTO</button></a>
        </div>
        <div class="main-botones">
            <a href="/"><button type="button-volver" class="button">VOLVER</button></a>
        </div>
    </main>

    <footer class="iconos">
        <div class="contacto">
            <i class="fa-solid fa-user-large"></i>
            <h3>CONTACTO</h3>
            <ul class="text"type="none">
                <li>Celular: 2314574044</li>
                <li>Correo: juan.navaridas@gmail.com</li>
            </ul>
        </div>
        <div class="educacion">
            <i class="fa-solid fa-user-graduate"></i>
            <h3>EDUCACIÓN</h3>
            <ul class="text" type="none">
                <li>Universidad de San Andrés</li>
                <li>Abogado</li>
            </ul>
        </div>
        <div class="idioma">
            <i class="fa-solid fa-globe"></i>
            <h3>IDIOMA</h3>
            <ul class="text" type="none">
                <li>Idioma Inglés</li>
                <li>Nivel experto</li>  
            </ul>
        </div>
</footer>

</body>
</html>
