<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Navarridas Juan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="cuerpo">
    <header class="header-nav">
        <div class="perfil">
            <img class="foto-perfil"src="/img/foto.jpg">
            <h2>NAVARIDAS JUAN MARTIN</h2>
            <h3 class="carrera">ABOGADO</h3>
        </div>
    </header>

    <main>
<div class="experiencia-laboral">
    <div class="logo-con-descr-main">
    <i class="fa-solid fa-briefcase"></i>
    <h3>EXPERIENCIA LABORAL</h3></div>
    <ul class="experiencia" type="none">
        <li class="titulo1"><strong>Pasante de Abogado Mercantil, Pérez - Llorca, Madrid</strong></li>
        <li class="titulo2"><strong>Marzo 2009 - Julio 2010</strong></li>
        <p class="descr-empleos">Asistir al Socio Principal de la Rama Corporativa del despacho.
            Preparar la documentación legal para la contratación de servicios de los nuevos clientes.
            Logré ascender de Practicante a Abogado Jr. antes de terminar la Maestría.</p>  
    </ul> 
    <ul class="experiencia" type="none">
        <li class="titulo1"><strong>Abogado en Derecho Mercantil Jr. / Pérez - Llorca, Madrid.</strong></li>
        <li class="titulo2"><strong>Julio 2010- Diciembre 2015</strong></li>
        <p class="descr-empleos">Asesorar a los clientes en el proceso para crear una empresa.
            Gestionar la documentación necesaria para trámites de creación de empresas, desde certificación negativa del nombre, número de Id. Fiscal, pago de impuestos y registro mercantil. 
            Logré reducir los tiempos de trámites legales con la redacción impecable de documentos y la creación satisfactoria de 127 empresas.</p>  
    </ul>
    <ul class="experiencia"type="none">
        <li class="titulo1"><strong>Abogado en Derecho Mercantil</strong></li>
        <li class="titulo2"><strong>Enero 2015- actualmente.</strong></li>
        <p class="descr-empleos">Ejecutar procesos de fusión entre sociedades y redactar contratos mercantiles asegurándome de proteger los intereses de la empresa.
            Anticipar fraudes o actividades ilícitas en las negociaciones con accionistas, proveedores y clientes.
            Logré la mediación satisfactoria de dos negociaciones que estaban a punto de pasar a demanda, lo que hubiera generado un costo aprox. 50,000 euros. 
            Logre gestionar exitosamente el reparto del capital social de la Sociedad Anónima, desde la convocatoria de 25 accionistas, hasta el reparto de dividendos.</p>  
    </ul> 
</div>
<div class="main-botones">
    <a href="/"><button type="button-volver" class="button">VOLVER
    </button></a>
</div>
    </main>

    <footer class="iconos">
        <div class="contacto">
            <i class="fa-solid fa-user-large"></i>
            <h3>CONTACTO</h3>
            <ul class="text"type="none">
                <li>Celular: 2314574044</li>
                <li>Correo: juan.navaridas@gmail.com</li>
            </ul>
        </div>
        <div class="educacion">
            <i class="fa-solid fa-user-graduate"></i>
            <h3>EDUCACIÓN</h3>
            <ul class="text" type="none">
                <li>Universidad de San Andrés</li>
                <li>Aboogado</li>
            </ul>
        </div>
        <div class="idioma">
            <i class="fa-solid fa-globe"></i>
            <h3>IDIOMA</h3>
            <ul class="text" type="none">
                <li>Idioma Inglés</li>
                <li>Nivel experto</li>  
            </ul>
        </div>
</footer>

</body>
</html>
